

<ion-content>
  <div class="nav-header">
    <div class="back-button" (click)="dismiss()">
      <ion-icon name="arrow-back"></ion-icon>
    </div>
    <h2>Details</h2>
    <a class="save-link" (click)="save()" [class.disabled]="!expenseForm.valid">
      Done
    </a>
  </div>

  <form [formGroup]="expenseForm" (ngSubmit)="save()">
    <div class="form-field-card">
      <ion-text color="medium">Name</ion-text>
      <ion-input class="custom-input" formControlName="name"></ion-input>
    </div>
    <div class="form-field-card">
      <ion-text color="medium">Category</ion-text>
      <ion-select class="custom-input" formControlName="category">
        <ion-select-option value="Home">Home</ion-select-option>
        <ion-select-option value="Car & Transport">Car & Transport</ion-select-option>
        <ion-select-option value="Subscriptions">Subscriptions</ion-select-option>
        <ion-select-option value="Bills & Utilities">Bills & Utilities</ion-select-option>
        <ion-select-option value="Food & Dining">Food & Dining</ion-select-option>
        <ion-select-option value="Shopping">Shopping</ion-select-option>
        <ion-select-option value="Entertainment">Entertainment</ion-select-option>
        <ion-select-option value="Health & Fitness">Health & Fitness</ion-select-option>
        <ion-select-option value="Travel">Travel</ion-select-option>
        <ion-select-option value="Education">Education</ion-select-option>
        <ion-select-option value="Other">Other</ion-select-option>
      </ion-select>
    </div>
    <div class="form-field-card">
      <ion-text color="medium">Amount</ion-text>
      <div class="amount-input">
        <ion-input class="custom-input" type="number" formControlName="amount"></ion-input>
        <span class="currency">€</span>
      </div>
    </div>
    <div class="form-field-card">
      <ion-text color="medium">Billing Time</ion-text>
      <ion-select class="custom-input" formControlName="billingTime">
        <ion-select-option value="monthly">Monthly</ion-select-option>
        <ion-select-option value="quarterly">Every 3 Months</ion-select-option>
        <ion-select-option value="annually">Annually</ion-select-option>
      </ion-select>
    </div>
    <div class="form-field-card">
      <ion-text color="medium">Billing Date</ion-text>
      <ion-input class="custom-input" type="number" formControlName="billingDate"></ion-input>
    </div>
  </form>

  <ion-button expand="block" color="danger" (click)="deleteExpense()">
    <ion-icon slot="start" name="trash"></ion-icon>
    Delete Expense
  </ion-button>
</ion-content> 