<ion-content>
  <!-- Header with Navigation -->
  <div class="nav-header">
    <ion-button fill="clear" class="nav-button" (click)="goToPrevious()">
      <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
      Previous
    </ion-button>
    <h1>Expenses</h1>
    <ion-button fill="clear" class="nav-button" (click)="goToNext()">
      Next
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-button>
  </div>

  <!-- Total Expenses Section -->
  <div class="total-expenses">
    <span class="amount">{{ totalPlannedAmount | number:'1.0-0' }} €</span>
    <span class="label">Already planned</span>
  </div>

  <!-- Budget Info Card -->
  <ion-card class="budget-card">
    <ion-card-content>
      <div class="budget-info">
        <div class="budget-item">
          <span class="label">Left to spend</span>
          <span class="amount">{{ leftToSpend | number:'1.0-0' }} €</span>
        </div>
        <div class="budget-item">
          <span class="label">Monthly budget</span>
          <span class="amount">{{ monthlyBudget | number:'1.0-0' }} €</span>
        </div>
      </div>
      <div class="progress-container">
        <div class="progress-bar">
          <div class="progress" [style.width.%]="getProgressPercentage()"></div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Expenses List -->
  <div class="expenses-list">
    <ion-card *ngFor="let category of expenseCategories" class="category-card">
      <ion-card-content>
        <!-- Category Header -->
        <div class="category-header">
          <div class="category-icon">
            <ion-icon [name]="category.icon"></ion-icon>
          </div>
          <span class="category-name">{{category.name}}</span>
          <span class="category-amount">{{category.totalAmount | number:'1.0-0'}} €</span>
        </div>

        <!-- Category Expenses -->
        <div class="expenses-container">
          <div *ngFor="let expense of category.expenses" class="expense-item" (click)="onExpenseClick(expense)">
            <span class="expense-name">{{ expense.name }}</span>
            <span class="expense-amount">{{ transformAmountToMonthly(expense) | number:'1.0-0'}} €</span>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Add Expense FAB -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNewExpense()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Progress Dots -->
  <div class="page-navigation">
    <app-progress-dots [currentStep]="3"></app-progress-dots>
  </div>
</ion-content>
