.progress-dots {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
  justify-content: center;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--ion-color-medium);
  opacity: 0.3;

  &.active {
    opacity: 1;
    background: var(--ion-color-primary);
  }
} 

.page-navigation {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 16px;
  left: 0;
  right: 0;
  z-index: 10;
}